@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: 160px 1fr;
}

h3 {
  margin-top: 0;
  margin-bottom: 5px;
}


.sidebar {
  position: fixed;
  height: 100%;
  width: 250px;
  background-color: #0ea5e9;
  color: white;
  font-weight: bold;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-auto-rows: 40px;
  align-items: center;
  padding-left: 20px;
  z-index: 1;
}

.sidebar .logo {
  width: 40px;
  justify-self: center;
  grid-row-start: span 2;
}

.sidebar .icon-container:not(.logo) {
  width: 25px;
  justify-self: center;
}

.sidebar .logo-name {
  font-size: 25px;
  grid-row-start: span 2;
}

.sidebar .setting {
  grid-row-start: span 2;
  margin-top: 50px;
}

.search-icon-container,
.notification-icon-container {
  width: 25px;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 70px);
  align-items: end;
  padding-left: 270px;
  justify-content: space-between;
}

.search-bar {
  display: grid;
  grid-template-columns: 30px 500px;
  grid-template-rows: 50px;
  align-items: center;
  align-content: center;
  gap: 15px;
}

.search-bar input {
  background-color: #cbd5e1;
  border: none;
  border-radius: 20px;
  height: 30px;
  padding: 10px;
}

.noti-user {
  display: grid;
  grid-template-columns: 30px 50px 50px;
  align-items: center;
  gap: 20px;
}

.noti-user .user-ava img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
}

.username {
  font-weight: bold;
}

.greeting-user {
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
}

.greeting-user .user-ava {
  grid-row: 1 / 3;
}

.greeting-user .user-ava img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
}

.greeting-user .greeting {
  font-size: 13px;
  font-weight: bold;
}

.menu button {
  background-color: #0ea5e9;
  color: white;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.main {
  background-color: #cbd5e1;
  display: grid;
  grid-template-columns: 800px 300px;
  padding-left: 270px;
  padding-top: 20px;
  align-items: start;
  padding-right: 50px;
}

.project-container {
  display: grid;
  grid-template-columns: 350px 350px;
  column-gap: 40px;
}

.project-card {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px;
  border-left: solid 8px orange;
  position: relative;
}

.interact {
  display: grid;
  grid-template-columns: repeat(3, 25px);
  gap: 20px;
  position: absolute;
  right: 20px;
  bottom: 5px;
}

.interact div {
  width: 25px;
}

.project-card p:first-child {
  margin: 0;
  font-weight: bold;
}

.project-card p:nth-child(2) {
  margin-bottom: 30px;
  color: lightslategray;
  margin-top: 5px;
  font-size: 13px;
}

.announcement-card {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.news p:first-child {
  font-weight: bold;
  margin: 0;
}

.news p:nth-child(2) {
  color: lightslategrey;
  margin-top: 5px;
  font-size: 13px;
}

.trending-container {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

.trending-user .user-ava img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  object-position: center;
}

.trending h3 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.trending-user {
  display: grid;
  grid-template-columns: 50px 200px;
  align-items: center;
  align-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.trending-container .trending-user:last-child {
  margin-bottom: 0;
}

.trending-user p {
  margin: 0;
}

.trending-user .nickname {
  color: lightslategray;
  font-weight: normal;
  font-size: 13px;
  margin-top: 5px;
}
